<div class="animate__animated animate__bounce animate__fadeIn animate_slower">
    <h1>País:</h1>
    <div class="row">
        <app-search-input 
        (onNewPais)="buscar($event)"
        (onDebounce)="sugerencias($event)"></app-search-input>
    </div>
    <ul class="list-group" *ngIf="mostrarSugerencias">
        <li class="list-group-item list-group-item-action"
        *ngFor="let pais of paisesSugeridos">
            <a class="nav-link" 
            [routerLink]="['/pais',pais.alpha3Code]">
        {{pais.name}}</a>
        </li>
        <li 
        class="list-group-item list-group-item-action"
        (click)="buscarSugerido(termino)">
            <a class="nav-link">Buscar: "{{termino}}"</a>
        </li>
    </ul>

    <div *ngIf="hayError" class="alert alert-danger">
        <div>No info</div>
    </div>
    <div *ngIf="paises.length>0 !hayError" class="row">
        <div class="col">
            <app-table-pais [paises]="paises"></app-table-pais>
        </div>
    </div>
</div>