
<div *ngIf="!pais; else dPais" class="alert">
    Cargando...
</div>
<ng-template #dPais>
    <div class="row">
        <div class="col">
            <h1>Pais: <small>{{pais.name}}</small></h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img alt="bandera" [src]="pais.flag" class="small-flag"/>
        </div>
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group">
                    <strong>Población</strong>{{pais.population|number}}
                    <hr>
                    <strong>Código Alpha</strong>{{pais.alpha3Code}}
                    <hr>
                    <strong>Código numérico</strong>{{pais.numericCode}}
                </li>
            </ul>
        </div>
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group">
                    <strong>Región</strong>{{pais.region}}
                    <hr>
                    <strong>Subregión</strong>{{pais.subregion}}
                    <hr>
                    <strong>Capital</strong>{{pais.capital}}
                </li>
            </ul>
        </div>
    </div>
</ng-template>

