<div class="animate__animated animate__bounce animate__fadeIn animate_slower">
    <h1>Region activa: {{regionActiva|titlecase}}</h1>

    <h3>Seleccione la region:</h3>
    <div class="row">
        <div class="col">
            <!--[class.btn-primary]="region===regionActiva"-->
            <!--         [ngClass]="{
                'btn-primary': regionActiva===region,
                'btn-outline-primary': regionActiva!==region
            }"-->
            <button 
            *ngFor="let region of regiones"
            [class]="getClassCSS(region)"
            (click)="activarRegion(region)">{{region}}</button>
        </div>
    </div>
    <!-- <div class="row">
        <app-search-input (onNewPais)="buscar($event)"></app-search-input>
    </div> -->
    <div *ngIf="hayError" class="alert alert-danger">
        <div>No info</div>
    </div>
    <div *ngIf="paises.length>0 !hayError" class="row">
        <div class="col">
            <app-table-region [paises]="paises"></app-table-region>
        </div>
    </div>
</div>