<div class="search-container">
    <form (ngSubmit)="buscar()" autocomplete="on" action="">
        <input type="text" name="busqueda"  class="col-11 col-form-label" 
        [(ngModel)]="termino"
        (input)="teclaPresionada()" placeholder="Buscar">
        <button type="submit"><em class="fa fa-search"></em></button>
    </form>
</div>