<head> 
    <title></title>
    <link rel="stylesheet">
    </head>
<div class="row container mt-4">
    <div class="col">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-12">
        <router-outlet></router-outlet>
    </div>
    <hr>
</div>
<div class="col-10">
    <div class="alert alert-info">
        Por favor buscar los nombre de paises, capitales y regiones en Inglés
    </div>
</div>
