<h2>Buscar por:</h2>
<hr>
<ul class="list-group list-group-horizontal">
    <li 
    style="display:inline" routerLink="" routerLinkActive="active" 
    [routerLinkActiveOptions]="{exact: true}" class="list-group-item">País
    </li>
    <li 
    style="display:inline" routerLink="capital" routerLinkActive="active" 
    class="list-group-item">Capital
    </li>
    <li 
    routerLink="region" routerLinkActive="active" 
    class="list-group-item">Región
    </li>
</ul>
<hr>

