<div>
    <table>
        <caption>Tabla para ver las capitales</caption>
        <thead>
            <tr>
                <th id="1">País</th>
                <th id="2">Capital</th>
                <th id="3">Población</th>
                <th id="4">Código Alpha</th>
                <th id="5">Código númerico</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pais of paises"
            class="animate__animated animate__bounce animate__fadeIn animate_faster">
                <td><a [routerLink]="['/pais', pais.alpha3Code]" >{{pais.name}}</a></td>
                <td>{{pais.capital}}</td>
                <td>{{pais.population | number}}</td>
                <td>{{pais.alpha3Code}}</td>
                <td>{{pais.numericCode}}</td>
            </tr>
        </tbody>
    </table>
</div>