<div class="animate__animated animate__bounce animate__fadeIn animate_slower">
    <h1>Capital:</h1>
    <div class="row">
        <app-search-input (onNewPais)="buscar($event)"></app-search-input>
    </div>
    <div *ngIf="hayError" class="alert alert-danger">
        <div>No info</div>
    </div>
    <div *ngIf="paises.length>0 !hayError" class="row">
        <div class="col">
            <app-table-capital [paises]="paises"></app-table-capital>
        </div>
    </div>
</div>